/* #D4F2D2 */

/* #0f0f0f #e42349 #FFA69E #FFA552 */

:root {
    --bg-color: hsl(0 0% 6%);
    --border-color: hsl(0 0% 55%);

    --primary-color: #ffffff;
    --secondary-color: #e42349;

    --accent-color: #ffa552;
}

* {
    box-sizing: border-box;

    font-family: "Arial", sans-serif;
    color: var(--primary-color);
}

.svg-color {
    fill: var(--secondary-color);
}

svg.icon {
    width: 1em;
    height: 1em;
}

h1,
strong {
    color: var(--accent-color);
    font-weight: 600;
}

h1 {
    font-size: 5rem;
}

h2 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

p,
ul,
span,
label {
    font-size: 2.5rem;
}

p,
ul,
.checkbox {
    margin: 1rem 0;
}

ul {
    /* margin: 0; */
    padding: 0;
    padding-left: 2rem;
}

li::marker {
    color: var(--secondary-color);
}

.button {
    background-color: var(--secondary-color);

    padding: 0;
    border: none;
    outline: none;

    font-weight: 600;

    font-size: 1.5rem;

    padding: 1rem;
    border-radius: 15px;
}

.button:active {
    opacity: 80%;
}

@media (hover: hover) {
    .button:hover {
        opacity: 80%;
        cursor: pointer;
    }
}

body {
    background-color: var(--bg-color);

    height: 100vh;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    background-color: var(--bg-color);
    position: fixed;
    z-index: 100;
    bottom: 0;

    width: 100%;
    display: flex;
    flex-flow: row wrap;

    padding: 20px;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
}

nav .nav-section {
    display: flex;
    gap: 1rem;

    padding: 1rem 2rem;
    /*border: 1px solid #e42349;
    */

    justify-content: center;
    align-items: center;
}

#nav-title {
    /* flex-basis: 100%; */
    justify-content: left;
    flex-grow: 1;

    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#title {
    font-weight: 500;
    font-size: 3.4rem;
}

#nav-logo img {
    width: 5rem;
}

#nav-social-logos img {
    width: 3rem;
    filter: invert(100%);
}

#nav-social-logos img:hover {
    opacity: 60%;
}

#main {
    /* border: 1px solid lightcoral; */

    /* width: 100%; */
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    flex-flow: column;
    flex-grow: 1;

    justify-content: center;
    align-items: center;
}

#main > div {
    /* border: 1px solid red; */

    display: none;
    max-width: 1000px;
}

.shown {
    display: initial !important;
    animation: forwards fade-in 0.7s;
}

.animate-away {
    display: initial !important;
    animation: forwards fade-out 0.7s;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

#arrows-container {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

#arrows-spacing {
    z-index: -199;
    flex-grow: 1;
}

.arrow {
    /* background-color: #ff209210; */

    position: relative;

    cursor: pointer;

    margin: 10% 0;
    padding: 0 13px 0 10%;
    font-size: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 55%;
}

@keyframes arrow-animation {
    0%,
    50% {
        opacity: 0.8;
        transform: scale(1);
    }
    25%,
    75% {
        transform: scale(60%);
    }
    100% {
        opacity: 0;
        transform: scale(60%);
    }

    75% {
        opacity: 0;
    }
}

#arrow-r span {
    animation: arrow-animation forwards cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

#arrow-l span {
    animation: arrow-animation forwards cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

#arrow-l {
    transform: scaleX(-1);
}

#white-pane {
    background-color: #fff;

    position: fixed;

    display: none;

    height: 100%;
    width: 100%;

    z-index: 10000;
    /* animation: slide-left-in forwards cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s; */
}

.animation-flash {
    display: initial !important;
    animation: flash forwards cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#modal-container1 {
    opacity: 0;
    z-index: -500;
}

#modal-container1.shown {
    opacity: 1;
    z-index: 500;
}

#modal-container {
    background-color: var(--bg-color);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 500;

    position: fixed;
    display: flex;
    /* overflow: hidden; */

    justify-content: center;
    align-items: center;
}

@keyframes expand {
    0% {
        transform: scale(0%, 0%);
    }
}

#modal {
    animation: expand forwards cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;

    background-color: hsl(0 0% 9%);

    padding: 2rem 3rem;

    border-radius: 15px;
    border-top-left-radius: 40px;

    position: relative;
    display: flex;
    flex-direction: column;

    width: 95vw;
    height: 90vh;
    max-width: 650px;
    max-height: 600px;

    margin: 0 auto;

    overflow: hidden;
}

#modal p {
    flex-grow: 1;
}

#modal svg {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
}

#modal .button {
    text-align: center;
    /* align-self: flex-end; */
}

@media (max-width: 700px) {
    nav {
        position: relative;
        bottom: auto;

        padding-bottom: 0;
    }
    #nav-title {
        display: none;
    }
    #nav-social-logos {
        justify-content: end;
        flex-grow: 1;
    }

    h2 {
        font-size: 2.8rem;
    }

    p,
    ul,
    span,
    label {
        font-size: 1.8rem;
    }
}

@media (max-width: 500px) {
    nav .nav-section {
        padding: 0;
    }
    #nav-logo img {
        width: 4rem;
    }
    #nav-social-logos img {
        width: 2rem;
    }

    h2 {
        font-size: 2.3rem;
    }
}
