/* #D4F2D2 */

/* #0f0f0f #e42349 #FFA69E #FFA552 */

:root {
    --bg-color: hsl(0 0% 6%);
    --border-color: hsl(0 0% 55%);

    --primary-color: #ffffff;
    --secondary-color: #e42349;

    --accent-color: #ffa552;
}

* {
    box-sizing: border-box;

    font-family: "Rubik", sans-serif;
    color: var(--primary-color);
}

h1,
strong {
    color: var(--accent-color);
    font-weight: 600;
}

h1 {
    font-size: 5rem;
}

h2 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    margin: 1.5rem 0;
}

p,
span {
    font-size: 2.5rem;
}

p {
    margin: 1rem 0;
}

body {
    background-color: var(--bg-color);

    height: 100vh;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    /* background-color: var(--accent-color); */
    position: fixed;
    bottom: 0;

    width: 100%;
    display: flex;
    flex-flow: row wrap;

    padding: 20px;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
}

nav .nav-section {
    display: flex;
    gap: 1rem;

    padding: 1rem 2rem;
    /*border: 1px solid #e42349;
    */

    justify-content: center;
    align-items: center;
}

#nav-title {
    /* flex-basis: 100%; */
    justify-content: left;
    flex-grow: 1;

    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#title {
    font-weight: 500;
    font-size: 3.4rem;
}

#nav-logo img {
    width: 5rem;
}

#nav-social-logos img {
    width: 3rem;
    filter: invert(100%);
}

#nav-social-logos img:hover {
    opacity: 60%;
}

#main {
    /* border: 1px solid lightcoral; */

    /* width: 100%; */
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    flex-flow: column;
    flex-grow: 1;

    justify-content: center;
    align-items: center;
}

#main > div {
    /* border: 1px solid red; */

    max-width: 1000px;
}

@media (max-width: 700px) {
    nav {
        position: relative;
        bottom: auto;

        padding-bottom: 0;
    }
    #nav-title {
        display: none;
    }
    #nav-social-logos {
        justify-content: end;
        flex-grow: 1;
    }

    h2 {
        font-size: 2.8rem;
    }

    p,
    span {
        font-size: 1.8rem;
    }
}

@media (max-width: 500px) {
    nav .nav-section {
        padding: 0;
    }
    #nav-logo img {
        width: 4rem;
    }
    #nav-social-logos img {
        width: 2rem;
    }

    h2 {
        font-size: 2.3rem;
    }
}
